@import  './assets/scss/variebles.scss';
.nav {
    display: flex;
    flex-direction: column;
    background-color: $darkPurple;
    height: 100vh;
    width: 70px;
    padding: 22px 0 ;
    padding-left: 12px;
}
.nav__logo {
    padding-left: 12px;

}
.nav__list {
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.nav__item {
    padding: 12px;
    padding-left: 12px;
}
.nav__link {
    padding: 12px;
    display: block;
    border-radius: 8px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightOrange;
    font-weight: 700;
    font-size: 16px;
}

.active {
    background-color: $darkGrey;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: relative;
    a{
        background-color: $lightOrange;
        color: white;
        box-shadow: 0px  8px 24px 0px rgba(234, 124, 105, 0.32);
    }
    &::before{
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('../components/assets/img/burchak.svg');
        position: absolute;
        top: -9.8px;
        right: 0;
    }
    &::after{
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-image: url('../components/assets/img/burchak.svg');
        position: absolute;
        bottom: -10px;
        right: 0.2px;
        transform: rotate(-90deg);
    }
}